<% if logged_in? %>
	<div class="row">
	    <aside class="col-md-3">
	      <section class="user_info">
	        <%= render 'shared/user_info' %>
	      </section>
	    </aside>
	    <div class="col-md-6">
	      <%= render 'shared/post_form' %>
	      <%= render 'shared/feed' %>
	    </div>
	</div>
<% else %>
	<div class="center jumbotron cryberry">
	  <h1>CryBerry</h1>
	  <h2>
	    Be one of cry berries
	  </h2>
	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-danger" %>
	</div>
<% end %>
