<li class="list-group-item">
  <div class="row">
  	<div class="col-md-2">
  		<%= gravatar_for user, size: 50 %>
  	</div>
  	<div class="col-md-9">
  		<%= link_to user.name, user %>
  	</div>
  	<div class="col-md-1">
  			<% if current_user.admin? && !current_user?(user) %>
		    <%= link_to "Delete", user, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "You sure?" } %>
		  <% end %>
  	</div>
  </div>
</li>
