<%= form_for [@post, @comment], html: { class: 'form-inline special-form' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group smaller">
    <%= f.text_field :content, placeholder: "Type your text here...", class: 'form-control' %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
