<div class="well">
	<div class="text-center">
		<%= link_to gravatar_for(@user, size: 50), @user %>
		<h3><%= link_to @user.name, @user %></h3>
		<ul class="list-group text-left">
			<li class="list-group-item">
				<span class="text-left">Posts</span>
				<span class='badge'><%= @user.posts.count %></span>
			</li>
			<%= render 'shared/stats' %>
		</ul>
	</div>
</div>