<% @user ||= current_user %>
<li class="list-group-item">
  <a href="<%= following_user_path(@user) %>">
    Following
  </a>
  <span class="badge">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </span>
</li>
<li class="list-group-item">
  <a href="<%= followers_user_path(@user) %>">
    Followers
  </a>
  <span class="badge">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </span>
</li>
